{
    "semi": true,
    "trailingComma": "es5",
    "singleQuote": true,
    "printWidth": 100,
    "tabWidth": 4,
    "bracketSameLine": true,
    "trailingNewLines": true,
    "endOfLine": "auto"
}
