:root {
    --primary: #4b7be5;
    --hover-primary: #2155cd;
    --secondary: #789395;
    --error-color: #f32424;
    --border-radius: 8px;
    --padding-x: 1rem;
    --padding-y: 0.5rem;
    --font-size: 14px;
}
