.za-button {
    border: 1px solid var(--primary);
    cursor: pointer;
    padding: var(--padding-y) var(--padding-x);
    border-radius: var(--border-radius);
    background-color: var(--primary);
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.za-button:hover:enabled {
    border-color: var(--hover-primary);
    background-color: var(--hover-primary);
}
.za-button-text {
    border: none;
    cursor: pointer;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    color: var(--primary);
}
.za-button-text:hover:enabled {
    color: var(--hover-primary);
}
.za-button-outlined {
    cursor: pointer;
    border: 1px solid var(--primary);
    background-color: #ffffff;
    color: var(--primary);
    padding: var(--padding-y) var(--padding-x);
    border-radius: var(--border-radius);
    display: flex;
    justify-content: center;
    align-items: center;
}

.za-button-outlined:hover:enabled {
    border-color: var(--hover-primary);
    color: var(--hover-primary);
}

.za-button-error {
    background-color: var(--error-color);
    border-color: var(--error-color);
}
.za-button-error:hover:enabled {
    border-color: var(--hover-error);
    background-color: var(--hover-error);
}

.za-inputtext {
    border: 1px solid var(--secondary);
    border-radius: var(--border-radius);
    padding: var(--padding-y);
}
.za-inputtext:hover:enabled {
    border-color: var(--hover-primary);
}
.za-inputtext:focus {
    outline: none;
    border-color: var(--hover-primary);
}
.za-inputtext-error,
.za-inputtext-error:focus,
.za-inputtext-error:hover:enabled {
    border-color: var(--error-color);
}

.za-error-text {
    color: var(--error-color);
    font-size: smaller;
    margin-top: 1px;
}

.za-spin {
    border: 2px solid #ffffff;
    border-top: 2px solid transparent;
    border-radius: 50%;
    width: 0.8rem;
    height: 0.8rem;
    animation: spin 1s linear infinite;
    margin-right: 0.5rem;
}
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.za-avatar-uploader {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.za-avatar-uploader > input {
    display: none;
}

.za-avatar-uploader > img {
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    object-fit: cover;
}

.za-avatar-button {
    position: absolute;
    width: 3rem;
    height: 3rem;
    top: 1.5rem;
    left: calc(50% - 1.5rem);
    opacity: 0.2;
    border: none;
    background-color: transparent;
}
.za-avatar-button:enabled {
    cursor: pointer;
}
.za-avatar-button:hover:enabled {
    opacity: 0.6;
}

.za-avatar-remove {
    border: none;
    background-color: transparent;
    padding: 0;
    display: flex;
    align-items: center;
    margin-left: 0.5rem;
}
.za-avatar-remove:enabled {
    cursor: pointer;
}
.za-avatar-remove .za-avatar-cancel-icon {
    opacity: 0.6;
}

.za-avatar-selected {
    display: flex;
    align-items: center;
    margin-top: 0.5rem;
}
.za-avatar-selected div {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 8rem;
}

.za-modal {
    transition: all 500ms;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.3);
}

.za-modal.za-modal-open {
    opacity: 1;
}

.za-modal.za-modal-closed {
    opacity: 0;
}

.za-modal.za-modal-will-open {
    opacity: 1;
}

.za-modal.za-modal-will-close {
    opacity: 0;
}

.za-modal-content {
    max-width: 80%;
    background-color: white;
    padding: 1rem;
    box-sizing: border-box;
    border-radius: var(--border-radius);
}

.za-modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.za-modal-title {
    font-weight: 600;
    font-size: large;
}

.za-modal-body {
    margin-top: 1rem;
}

.za-alert-footer {
    display: flex;
    align-items: center;
    justify-content: end;
    margin-top: 1rem;
}
.za-alert-accept {
    margin-left: 0.5rem;
}

.za-loading-mask {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.za-loading-mask > .za-spin {
    border-color: var(--primary);
    border-top-color: transparent;
    margin-bottom: 0.5rem;
}

.za-searchbar-container {
    display: flex;
    padding: 0.5rem;
    background-color: #eeeeee;
    align-items: center;
    border-radius: var(--border-radius);
    width: 100%;
}

.za-searchbar-text {
    border: none;
    outline: none;
    background-color: transparent;
    flex: 1;
    margin-left: 0.25rem;
}

.za-popup {
    position: fixed;
    right: 0;
    top: 0;
    width: max-content;
    background-color: #ffffff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    padding-top: var(--padding-y);
    padding-bottom: var(--padding-y);
    border-radius: var(--border-radius);
}

.za-popup-toggle {
    cursor: pointer;
}

.za-divider {
    width: 100%;
    height: 0.5px;
    background-color: #cccccc;
}

.za-dropdown {
    position: relative;
}
.za-dropdown-button {
    border: 1px solid #cccccc;
    border-radius: var(--border-radius);
    padding: var(--padding-y) var(--padding-x);
    border-color: #cccccc;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 10rem;
}
.za-dropdown-button:enabled {
    cursor: pointer;
}
.za-dropdown-content.za-dropdown-content-open {
    display: block;
}
.za-dropdown-value {
    margin-right: var(--padding-y);
}
.za-dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    margin-top: 0.25rem;
    min-width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    z-index: 5;
    border-radius: var(--border-radius);
    overflow: hidden;
    cursor: pointer;
    padding-top: var(--padding-y);
    padding-bottom: var(--padding-y);
    font-size: small;
}
.za-dropdown-content > * {
    padding: var(--padding-y) var(--padding-x);
}
.za-dropdown-content > *:hover {
    background-color: #eeeeee;
}

.za-list {
    display: flex;
    height: 100%;
    flex-direction: column;
    list-style: none;
    overflow-y: scroll;
    padding-inline-start: 0;
    padding-inline-end: 0;
    margin-block-start: 0;
    margin-block-end: 0;
}

.za-uploader-container {
    display: flex;
    margin-top: 1rem;
}
.za-uploader-drop {
    width: 16rem;
    height: 16rem;
    border: 1px dashed var(--secondary);
    border-radius: var(--border-radius);
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 1rem;
}
.za-uploader-drop > div {
    margin-top: 0.5rem;
}
.za-uploader-result {
    width: 16rem;
    height: 16rem;
}
.za-uploader-result > .za-uploader-result-title {
    font-weight: bold;
}
@media (max-width: 768px) {
    .za-uploader-container {
        flex-direction: column;
    }
    .za-uploader-drop,
    .za-uploader-result {
        width: 12rem;
        height: 12rem;
        margin-right: 0;
    }
}

.za-image {
    width: 100%;
    height: 100%;
}

.za-video {
    position: relative;
    min-width: 10rem;
}
.za-video > .za-video-play {
    position: absolute;
    top: calc(50% - 1.5rem);
    left: calc(50% - 1.5rem);
}
.za-video > .za-video-controls {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    bottom: 0;
    left: 0;
    width: 100%;
    color: #ffffff;
}
.za-video-controls > .video-slider {
    width: calc(100% - 6rem);
    border: none;
    outline: none;
}
.video-slider {
    -webkit-appearance: none;
    width: 100%;
    height: 0.5rem;
    border-radius: 0.5rem;
    background: #ffffff;
    outline: none;
    opacity: 0.7;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
}
.video-slider:hover {
    opacity: 1;
}
.video-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 1rem;
    height: 1rem;
    border-radius: 0.75rem;
    background: var(--primary);
    cursor: pointer;
}
.video-slider::-moz-range-thumb {
    width: 1rem;
    height: 1rem;
    border-radius: 0.75rem;
    background: var(--primary);
    cursor: pointer;
}
.za-video-controls div {
    color: #ffffff;
}
.za-video-controls > .video-volume {
    margin-right: 0.25rem;
}
.za-video-play > div {
    color: #ffffff;
    background-color: #00000030;
    border: 2px solid #ffffff;
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.za-video-play-control {
    margin-left: 0.25rem;
}
.za-video:not(:hover) > .za-video-play.za-video-playing {
    display: none;
}
.za-video:not(:hover) > .za-video-controls {
    display: none;
}
