.za-list {
    display: flex;
    height: 100%;
    flex-direction: column;
    list-style: none;
    overflow-y: scroll;
    padding-inline-start: 0;
    padding-inline-end: 0;
    margin-block-start: 0;
    margin-block-end: 0;
}
