.app-sidebar {
    background-color: var(--primary);
    width: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.app-sidebar-avatar-container {
    border: none;
    background-color: transparent;
    cursor: pointer;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
}
.app-sidebar-avatar {
    width: 3rem;
    height: 3rem;
    object-fit: cover;
    border-radius: 50%;
    cursor: pointer;
}

.app-sidebar-item {
    border: none;
    border-radius: 0;
    cursor: pointer;
    width: 100%;
    height: 4rem;
    background-color: transparent;
    color: #ffffff;
    padding: 1rem;
}
.app-sidebar-item.app-sidebar-selected {
    background-color: #00000030;
}

.app-sidebar-setting:focus {
    background-color: #00000030;
}

.app-setting-content {
    min-height: 10rem;
}
.app-sidebar-setting-content {
    display: flex;
    flex-direction: column;
}
.app-sidebar-setting-content > .za-divider {
    margin: 0.25rem 0.75rem;
    width: auto;
}
.app-sidebar-setting-content > button {
    outline: none;
    border: none;
    cursor: pointer;
    background-color: transparent;
    min-width: 10rem;
    height: 2rem;
    display: flex;
    align-items: center;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}
.app-sidebar-setting-content > button:hover {
    background-color: #eeeeee;
}
.app-sidebar-setting-content > button > span {
    margin-left: 0.25rem;
}
.app-sidebar-setting-content > .app-sidebar-logout {
    color: #f32424;
    padding-left: 2.2rem;
}
.app-sidebar-setting-content > .app-sidebar-logout + button {
    padding-left: 2.2rem;
}
.app-setting-language {
    display: flex;
    align-items: center;
}
.app-setting-language > span {
    margin-right: 1rem;
    font-weight: 600;
    min-width: 5rem;
}

.app-sidebar-buttons {
    flex: 1;
}

.app-content {
    display: flex;
}

.app-search-view {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.75rem 1rem 1.25rem 1rem;
    position: relative;
}

.app-search-view-add-contact {
    margin-left: 0.75rem;
}

.app-search-result {
    position: absolute;
    background-color: #ffffff;
    top: 4.25rem;
    left: 0;
    width: 100%;
    height: calc(100vh - 4rem);
}

.app-search-result-title {
    font-weight: 500;
    color: #555555;
    margin: 0 1rem 1rem 1rem;
}

.app-search-result-list > div {
    padding: 0.75rem 1rem;
    cursor: pointer;
}
.app-search-result-list > div:hover {
    background-color: #eeeeee;
}

.app-search-close {
    margin-left: 1rem;
}

.app-search-no-result {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #555555;
}
.app-search-no-result > img {
    width: 50%;
    aspect-ratio: 1/1;
    object-fit: contain;
}

.app-find-friends {
    width: 24rem;
    display: flex;
    flex-direction: column;
    height: 70vh;
}
@media (max-width: 512px) {
    .app-find-friends {
        width: 14rem;
    }
}
.app-find-friends > .app-find-friends-title {
    margin: 1rem 0;
    font-size: small;
}
.friend-item-check {
    display: flex;
    align-items: center;
}
.friend-item-check > span {
    margin-left: 0.5rem;
}

.app-connection-error {
    background-color: #bbbbbb;
    position: absolute;
    top: 4.5rem;
    left: 0;
    width: 100%;
    border-top: 1px solid #dddddd;
    height: 3.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
}
