.app-sidebar {
    background-color: var(--primary-background);
    width: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.app-sidebar-avatar-container {
    border: none;
    background-color: transparent;
    cursor: pointer;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.app-sidebar-item {
    border: none;
    border-radius: 0;
    cursor: pointer;
    width: 100%;
    height: 4rem;
    background-color: transparent;
    color: #eeeeee;
    padding: 1rem;
}
.app-sidebar-item.app-sidebar-selected {
    background-color: #00000030;
}

.app-sidebar-setting:focus {
    background-color: #00000030;
}

.app-setting-content {
    min-height: 10rem;
    color: var(--text-color);
}
.app-sidebar-setting-content {
    display: flex;
    flex-direction: column;
}
.app-sidebar-setting-content > .za-divider {
    margin: 0.25rem 0.75rem;
    width: auto;
}
.app-sidebar-setting-content > button {
    outline: none;
    border: none;
    cursor: pointer;
    background-color: transparent;
    min-width: 10rem;
    height: 2rem;
    display: flex;
    align-items: center;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    color: var(--text-color);
}
.app-sidebar-setting-content > button:hover {
    background-color: var(--little-background);
}
.app-sidebar-setting-content > button > span {
    margin-left: 0.25rem;
}
.app-sidebar-setting-content > .app-sidebar-logout {
    color: var(--error-color);
    padding-left: 2.2rem;
}
.app-sidebar-setting-content > .app-sidebar-logout + button {
    padding-left: 2.2rem;
}
.app-setting-language {
    display: flex;
    align-items: center;
}
.app-setting-language > span {
    margin-right: 1rem;
    font-weight: 600;
    min-width: 5rem;
}

.app-sidebar-buttons {
    flex: 1;
}

.account-info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 16rem;
    color: var(--text-color);
    .account-info-title {
        width: 100%;
        font-weight: bold;
        margin-bottom: 0.5rem;
    }
    .account-info-base {
        width: 100%;
        div {
            margin: 0.25rem 0;
        }
    }
}

.app-content {
    display: flex;
}

.app-search-view {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.75rem 1rem 1.25rem 1rem;
    position: relative;
}

.app-search-view-add-contact {
    margin-left: 0.75rem;
}

.app-search-result {
    position: absolute;
    background-color: var(--background);
    top: 4.25rem;
    left: 0;
    width: 100%;
    height: calc(100vh - 4rem);
}

.app-search-result-title {
    font-weight: 500;
    color: var(--little-text-color);
    margin: 0 1rem 1rem 1rem;
}

.app-search-result-list > div {
    padding: 0.75rem 1rem;
    cursor: pointer;
}
.app-search-result-list > div:hover {
    background-color: var(--little-background);
}

.app-search-close {
    margin-left: 1rem;
}

.app-search-no-result {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--little-text-color);
}
.app-search-no-result > img {
    width: 50%;
    aspect-ratio: 1/1;
    object-fit: contain;
}

.app-find-friends {
    width: 24rem;
    display: flex;
    flex-direction: column;
    height: 70vh;
}
@media (max-width: 512px) {
    .app-find-friends {
        width: 14rem;
    }
}
.app-find-friends > .app-find-friends-title {
    margin: 1rem 0;
    font-size: small;
}
.friend-item-check {
    display: flex;
    align-items: center;
}
.friend-item-check > span {
    margin-left: 0.5rem;
}

.app-connection-error {
    background-color: #bbbbbb;
    position: absolute;
    top: 4.5rem;
    left: 0;
    width: 100%;
    border-top: 1px solid var(--separate-line);
    height: 3.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
}

.app-setting-theme {
    margin-top: 1.5rem;
    .app-list-theme {
        display: grid;
        grid-template-columns: repeat(4, minmax(0, 1fr));
        gap: 0 1rem;
    }
    @media (max-width: 768px) {
        .app-list-theme {
            grid-template-columns: repeat(2, minmax(0, 1fr));
            gap: 1rem;
        }
    }
    .theme-selector {
        margin-top: 1rem;
        display: flex;
        flex-direction: column;
        cursor: pointer;

        img {
            width: 6rem;
            height: 4rem;
            object-fit: cover;
            border-radius: var(--border-radius);
            border: 1px solid var(--separate-line);
        }
    }
    .preference-title {
        margin-right: 1rem;
        font-weight: 600;
        min-width: 5rem;
        display: block;
    }
}
