.chat-container {
    display: flex;
    flex: 1;
    height: 100vh;
}

.chat-section {
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: #eeeeee;
}

.chat-section-title {
    display: flex;
    align-items: center;
    background-color: #ffffff;
    padding: 0.75rem 1rem;
    position: relative;
}
.chat-section-name-info {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
    user-select: none;
}
.chat-section-name + div {
    font-size: small;
    color: #555555;
    min-height: 1rem;
}
.chat-section-name {
    font-weight: 600;
    font-size: large;
    margin-bottom: 0.25rem;
}
.chat-title-add-friend {
    background-color: #ffffff;
    position: absolute;
    top: 4.5rem;
    left: 0;
    width: 100%;
    border-top: 1px solid #dddddd;
    height: 2.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}
.chat-title-add-friend .add-friend {
    margin-left: 0.25rem;
}
.chat-title-add-friend .requested-friend {
    color: var(--primary);
}
.chat-title-add-friend .cancel-request {
    font-weight: 700;
    margin-left: 0.5rem;
}
.chat-title-add-friend .accept-request {
    font-weight: 700;
}
.chat-title-add-friend .separator {
    margin: 0 0.5rem;
    background-color: var(--primary);
    width: 1px;
    height: 60%;
}

.chat-title-search {
    background-color: #ffffff;
    position: absolute;
    top: 4.5rem;
    left: 0;
    width: 100%;
    border-top: 1px solid #dddddd;
    height: 3.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}
.chat-title-search > div {
    display: flex;
    flex: 1;
    margin: 0 1rem;
}
.chat-title-search > div > button {
    margin-left: 1rem;
}

.chat-search {
    margin-right: 1rem;
}

.chat-welcome {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    user-select: none;
}
.chat-welcome > img {
    max-height: 60%;
    max-width: 70%;
    object-fit: contain;
}
.chat-welcome > div {
    font-size: 1.25rem;
}
.chat-welcome > span {
    width: 70%;
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-align: center;
}

.chat-section-body {
    flex: 1;
    overflow-x: hidden;
}

#chat-side-tab-container {
    width: 20rem;
    border-right: 1px solid #dddddd;
    background-color: #ffffff;
    height: 100%;
    overflow: hidden;
}

@media (max-width: 768px) {
    #chat-side-tab-container {
        width: 0;
        border: none;
    }
    #chat-side-tab-container.chat-side-tab-container-show {
        width: calc(100vw - 4rem);
        position: absolute;
        z-index: 10;
    }
}

.chat-tab {
    width: 100%;
}

.chat-tab > .chat-list-title {
    margin: 0 1rem 0.25rem 1rem;
    font-weight: 500;
    color: #555555;
}

.chat-tab-messages {
    border-top: 1px solid #dddddd;
}

.chat-avatar {
    width: 3rem;
    height: 3rem;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 0.5rem;
}

.chat-avatar-invisible {
    visibility: hidden;
}

.chat-item-container {
    display: flex;
    padding: 0.75rem 1rem;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}
.chat-item-container.chat-item-focused {
    background-color: #d7e9f7;
}
.chat-item-container:not(.chat-item-focused):hover {
    background-color: #eeeeee70;
}

.chat-item {
    display: flex;
    flex: 1;
    align-items: center;
}
.friend-item {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-between;
}

.chat-item-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0.25rem;
}

.chat-item-seen {
    font-weight: normal;
    flex: 1;
}

.chat-item-not-seen {
    font-weight: 600;
    flex: 1;
}
.chat-item-not-seen > div {
    color: #000000;
}

.chat-name {
    font-size: 1rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 10rem;
}

.chat-message {
    color: #555555;
    font-size: small;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 12rem;
}

.chat-latest-time {
    font-size: smaller;
    color: #555555;
    margin-left: 0.5rem;
}

.chat-typing-container {
    background-color: #ffffff;
    padding: 1rem;
    display: flex;
    align-items: center;
    border-top: 1.5px solid #dddddd;
}
.chat-typing-container:focus-within {
    border-top-color: var(--primary);
}

.chat-input-text {
    border: none;
    outline: none;
    flex: 1;
}

.chat-send-button {
    margin-left: 1rem;
}

.chat-attachment {
    background-color: #ffffff;
    padding: 0.5rem 1rem;
    display: flex;
    position: relative;
}
.chat-attachment .chat-typing-signal {
    position: absolute;
    height: 1.25rem;
    top: -1.25rem;
    left: 0;
    font-size: small;
    padding: 0 1.1rem;
    user-select: none;
    background-color: #ffffff;
    color: #555555;
}

.chat-image-attach {
    margin-right: 1rem;
}

.chat-pasted-files {
    display: grid;
    grid-template-columns: repeat(6, minmax(0, 1fr));
    background-color: #ffffff;
    gap: 0.5rem;
    padding: 1rem;
    border-top: 1px solid #dddddd;
}
@media (max-width: 992px) {
    .chat-pasted-files {
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }
}
@media (max-width: 768px) {
    .chat-pasted-files {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
}

.chat-pasted-file-item {
    position: relative;
    border: 1px solid #dddddd;
    border-radius: var(--border-radius);
    overflow: hidden;
}
.chat-pasted-file-item > img {
    aspect-ratio: 1/1;
    object-fit: cover;
}

.chat-pasted-cancel {
    position: absolute;
    top: 0.25rem;
    right: 0.25rem;
}

.chat-message-item {
    display: flex;
    padding: 0.25rem 1rem;
}
.chat-message-item.chat-self-message {
    flex-direction: row-reverse;
}
.chat-message-item.chat-self-message .chat-message-stamp {
    margin-left: auto;
}
.chat-self-message .chat-avatar {
    margin-right: 0 !important;
    margin-left: 0.5rem;
}

.chat-message-item > div:not(.chat-message-image-only) {
    background-color: #ffffff;
    padding: 0.75rem;
    border-radius: var(--border-radius);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    max-width: 50%;
}
.chat-message-item.chat-self-message > div:not(.chat-message-image-only) {
    background-color: #d7e9f7;
}

.chat-message-image-only {
    max-width: calc(50% + 1.5rem);
    height: max-content;
    display: grid;
    gap: 0.25rem;
}
.chat-message-image-only > .message-image,
.chat-message-text-image > .message-image {
    border: 1px solid #ffffff;
    border-radius: var(--border-radius);
    max-width: 100%;
    max-height: 28rem;
    min-height: 100%;
    background-color: #ffffff;
}
.chat-message-image-only > .message-video,
.chat-message-text-image > .message-video {
    border-radius: var(--border-radius);
    max-width: 100%;
    max-height: 28rem;
    min-height: 100%;
    overflow: hidden;
}

.chat-message-content {
    margin-bottom: 0.5rem;
    flex-wrap: wrap;
    word-break: normal;
}

.chat-message-content + div {
    display: flex;
    justify-content: space-between;
    color: #555555;
}

.chat-message-time + small {
    margin-left: 0.75rem;
}
