.contact-container {
    display: flex;
    flex: 1;
    height: 100%;
}

#contacts-side-tab-container {
    width: 20rem;
    border-right: 1px solid var(--separate-line);
    background-color: var(--background);
    height: 100%;
    overflow: hidden;
}

@media (max-width: 768px) {
    #contacts-side-tab-container {
        width: 0;
        border: none;
    }
    #contacts-side-tab-container.contacts-side-tab-container-show {
        width: calc(100vw - 4rem);
        position: absolute;
        z-index: 4;
        height: calc(100% - 25px);
    }
}

.contact-tab {
    height: 100%;
    display: flex;
    flex-direction: column;
}
.contact-tab-list {
    height: calc(100% - 4.25rem);
}
.contact-item {
    display: flex;
    align-items: center;
    cursor: pointer;
    height: 4rem;
    padding: 0 1rem;
    font-size: 1rem;
    color: var(--text-color);
}
.contact-item > span {
    margin-left: 0.5rem;
}
.contact-item.contact-item-focused {
    background-color: var(--focus-background);
}
.contact-item:not(.contact-item-focused):hover {
    background-color: var(--little-fade-background);
}

.friend-list-title {
    padding: 1rem;
    border-top: 1px solid var(--separate-line);
    font-size: 1rem;
}
.friend-request-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: var(--background);
}
.friend-request-list-title {
    display: flex;
    align-items: center;
    height: 4rem;
    padding: 0rem 1rem;
    border-bottom: 1px solid var(--separate-line);
    font-weight: 600;
    font-size: large;
    color: var(--text-color);
}
.friend-request-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 6rem;
    border: 1px solid var(--separate-line);
    border-radius: var(--border-radius);
    padding: 0 1rem;
    background-color: var(--background);
    margin: 1rem;
    color: var(--text-color);
}
.friend-request-item > div {
    display: flex;
    align-items: center;
}
.friend-request-item > div > span {
    margin-left: 1rem;
    font-size: 1rem;
}
.friend-request-avatar {
    width: 4rem;
    height: 4rem;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 0.5rem;
    border: 1px solid var(--separate-line);
}
.friend-request-list {
    background-color: var(--little-fade-background);
    flex: 1;
    .suggest-list {
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        gap: 1rem;
        margin: 1rem;
    }
    .suggest-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: var(--background);
        border-radius: var(--border-radius);
        border: 1px solid var(--separate-line);
        padding: 1rem;
        .suggest-name {
            margin-top: 0.5rem;
            margin-bottom: 1rem;
            font-weight: 600;
            color: var(--text-color);
        }
    }
}
.friend-request-list > .friend-request-total {
    margin: 1rem 1rem 0 1rem;
    font-weight: 600;
    color: var(--text-color);
}
.friend-request-item .accept-friend {
    margin-left: 1rem;
}
