@import url('../common/components/styles/index.css');

* {
    font-family: 'Open Sans', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--background);
    font-size: 14px;
    overflow: overlay;
    --scrollbar-color: #00000000;
}

.custom-scroll {
    overflow: overlay;
    --scrollbar-color: #00000000;
}

.custom-scroll.scrolling,
body.scrolling {
    --scrollbar-color: #00000030 !important;
}

::-webkit-scrollbar {
    display: block;
    width: 10px;
}

::-webkit-scrollbar-button {
    display: none;
}

::-webkit-scrollbar-track {
    background-color: #00000000;
}

::-webkit-scrollbar-track-piece {
    background-color: #00000000;
}

::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-color);
    border-radius: 24px;
}

.app-title-bar {
    height: 25px;
    background-color: var(--little-background);
    color: var(--text-color);
    display: flex;
    justify-content: space-between;
    .app-name-bar {
        flex: 1;
        padding: 0 1rem;
        display: flex;
        align-items: center;
        font-size: small;
        font-weight: 600;
        -webkit-app-region: drag;
        user-select: none;
    }
    .app-title-bar-controls {
        display: grid;
        grid-template-columns: repeat(3, 46px);
        .window-button {
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            &:not(.window-button-disabled):hover {
                background-color: var(--separate-line);
            }
            transition: 0.2s;
        }
        #window-button-close {
            &:hover {
                background-color: var(--error-color);
                color: var(--text-indark);
            }
        }
        #window-button-restore {
            display: none;
        }
        #window-button-max.window-button-disabled {
            opacity: 0.5;
            cursor: default;
        }
    }
}
.maximized #window-button-max {
    display: none;
}
.maximized #window-button-restore {
    display: flex !important;
}
