.za-dropdown {
    position: relative;
}
.za-dropdown-button {
    border: 1px solid var(--separate-line);
    border-radius: var(--border-radius);
    padding: var(--padding-y) var(--padding-x);
    background-color: var(--background);
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 10rem;
    color: var(--text-color);
}
.za-dropdown-button:enabled {
    cursor: pointer;
}
.za-dropdown-content.za-dropdown-content-open {
    display: block;
}
.za-dropdown-value {
    margin-right: var(--padding-y);
}
.za-dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--background);
    margin-top: 0.25rem;
    min-width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    z-index: 5;
    border-radius: var(--border-radius);
    overflow: hidden;
    cursor: pointer;
    padding-top: var(--padding-y);
    padding-bottom: var(--padding-y);
    font-size: small;
    border: 1px solid var(--separate-line);
    color: var(--text-color);
}
.za-dropdown-content > * {
    padding: var(--padding-y) var(--padding-x);
}
.za-dropdown-content > *:hover {
    background-color: var(--little-background);
}
